@import 'jeet';

edit(); //enables the background shading of the grid, so you can see where the columns are

header,footer
    cf(); //clearfix function, to remove floating.
    height: 150px; //give a height to empty elements

section
    cf();
    article
        col(3/4); //article spans 3/4 of the page 
    aside
        col(1/4); //aside spans 1/4 of the page